:root {
    --space-1: #f6e6c6;
    --space-2: #e6d6a6;
    --space-3: #f6d696;
    --text-1: #aa6a0a;
    --text-2: #4a1a0a;
    --alert-1: #ff7a5a;
    --alert-2: #aa2a0a;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
  }

  body {
    background: linear-gradient(
      90deg,
      var(--space-1),
      white
    );
  }
  
  /* Alert for invalid input */
  .alert {
    background-color: var(--alert-1);
    color: var(--alert-2)!important;
    font-weight: bold;
    font-size: 3rem!important;
  }
  
  .block {
    display: block;
  }

  .fa-gears {
    min-height: 16px;
    height: 4vh;
    padding: 4px 10px;
  }

  h1 {
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    font-size: 4rem;
    color: var(--text-1);
  }

  #output {
    font-family: Garamond, 'Times New Roman', Times, serif;
  }
  
  main {
    height: 100vh;
    width: 100vw;
  }
  
  fieldset {
    min-width: 130px;
    min-height: 100px;
    width: 20vw;
    background-color: var(--space-2);
    margin: 6rem auto;
  }
  
  #label, #number, #convert-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #label {
    color: var(--text-1);
    font-size: 1.5rem;
  }
  
  #number {
    display: block;
    max-width: 70%;
    background-color: var(--space-3);
    color: var(--text-2);
    min-height: 25px;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
  }
  
  #convert-btn {
    background-color: var(--space-3);
    color: var(--text-1);
    font-size: 1.5rem;
    margin: 1rem;
  }

  #convert-btn:active {
    background-color: var(--text-1);
    color: var(--space-3);    
  }


  #output {
    color: var(--text-2);
    min-height: 25px;
    font-size: 3rem;
    text-align: center;
  }
  
  /* For iPhones, Android, etc. */
  @media only screen and (max-width: 600px) {
    :root {
      font-size: 6px;
    }
    
    #output {
      font-size: 3rem;
    }

    .alert {
      font-size: 3rem!important;
    }

    .fa-gears {
      height: 10px;
    }
  }
